.app{
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url('../assets/images/drum-set-1839383_1280.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
}
.app_keys{
    display: flex;
    justify-content: center;
    align-items: center;
}
